/*global*/
*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFEDD5;
  /* fontes*/
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, .price{
  font-family: 'Roboto Serif', sans-serif;
  text-transform: uppercase;
  color: #2d2c2a;
}

  ul {
    list-style: nome;
  } 
  /*Header*/
  header{  
    padding: 32px 0;  
    text-align: center;
  }

  header, section {
    max-width: 300px;    
    margin: 0 auto; 
  }

  header h1 {
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 33px;
  }

  header h1 span {
    color: #650065;
  }

  header p{
    font-size: 14px;
    line-height: 16px;
    color:rgba(0, 0, 0, 0.7);
 }

  /*Section*/
  section {
    margin-bottom: 24px;
  }

  section h2 {
    background-color: #FED7AA;
    padding: 8px 16px;
    text-align: center;

    margin-bottom: 24px;
  }
  /*Listas*/
  ul li {
    margin-bottom: 16px;
    display: flex;
  }

  li .details{
    max-width: 240px;
  }

  .details h3 {
    margin-bottom: 8px;
    line-height: 21px;
  }

  .details P 
  {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 21px;
  }
